{% extends "base.html" %}
{% block content %}

    <!-- Hero Image -->
    <div class="hero-img-1">
    </div>
    
    <main>
        <!-- Page Title -->
        <h3 class="center-align page-heading">Featured Recipes</h3>
        <!-- Featured Recipes -->
        <div class="container">
            <div class="row feat-cards">
                <div class="col s12 m4">
                    <a href="#">
                        <div class="card">
                            <div class="card-image">
                                <img src="static/images/bruschetta.jpg">
                                <div class="card-overlay">Classic Bruschetta</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m4">
                    <a href="#">
                        <div class="card">
                            <div class="card-image">
                                <img src="static/images/penne.jpg">
                                <div class="card-overlay">Penne Carbonara</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m4">
                    <a href="#">
                        <div class="card">
                            <div class="card-image">
                                <img src="static/images/olive-ling.jpg">
                                <div class="card-overlay">Olive and Tomato Linguine</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m4">
                    <a href="#">
                        <div class="card">
                            <div class="card-image">
                                <img src="static/images/tom-salad.jpg">
                                <div class="card-overlay">Tomato and Mozzarella Salad</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m4">
                    <a href="#">
                        <div class="card">
                            <div class="card-image">
                                <img src="static/images/negroni.jpg">
                                <div class="card-overlay">Negroni</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m4">
                    <a href="#">
                        <div class="card">
                            <div class="card-image">
                                <img src="static/images/tiramisu.jpg">
                                <div class="card-overlay">Tiramisu</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
    

    

{% endblock %}