{% extends "base.html" %}
{% block content %}

    <!-- Hero Image -->
    <div class="hero-img-1">
    </div>
    
    <main>
        <!-- Page Title -->
        <h3 class="center-align page-heading">Featured Recipes</h3>
        <!-- Featured Recipes -->
        <div class="container">
            <div class="row feat-cards">
                {% for recipe in recipes %}
                    <div class="col s12 m6 l4">
                        <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img src="{{ recipe.image_url }}" class="responsive-img">
                                    <div class="card-overlay">
                                        {{ recipe.recipe_title }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}