{% extends "base.html" %}

{% block content %}

    <h3 class="center-align">Log In</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row form-row">
                    <div class="input-field col s12 ">
                        <i class="fas fa-user prefix prefix-colour"></i>
                        <input id="username" name="username" type="text" class="validate" data-length="20" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row form-row">
                    <div class="input-field col s12 ">
                        <i class="fas fa-unlock prefix prefix-colour"></i>
                        <input id="password" name="password" type="password" class="validate" data-length="15" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Log In button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large form-btn">
                        Log In <i class=" fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Not yet a member?
                <a href="{{ url_for('sign_up') }}">Sign Up</a>
            </p>
        </div>
    </div>

{% endblock %}