{% extends "base.html" %}

{% block content %}

<div class="slider">
    <ul class="slides">
      <li>
        <img src="static/images/tomato-pasta.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="static/images/pizza-making.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="static/images/bruschetta.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="static/images/tom-salad1.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="static/images/meatball2.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>


    <h3 class="center-align page-heading">Log In</h3>
    <main class="container">
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row form-row">
                    <div class="input-field col s12 ">
                        <i class="fas fa-user prefix prefix-colour"></i>
                        <input id="username" name="username" type="text" class="validate" data-length="20" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row form-row">
                    <div class="input-field col s12 ">
                        <i class="fas fa-unlock prefix prefix-colour"></i>
                        <input id="password" name="password" type="password" class="validate" data-length="15" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Log In button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large form-btn">
                        Log In
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align page-link">
                Not yet a member?
                <a href="{{ url_for('sign_up') }}" class="para-link">Sign Up</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}