{% extends "base.html" %}

{% block content %}

    <section>
        <!-- flash messages-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="row flashes">
                        <h4 class="center-align custom-flash {{ category}}">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>  

     <main class="container">
         <button onclick="backButton()" class="back-btn profile"><i class="fas fa-arrow-left"></i> Back</button>
        <!-- Page Title -->
        <h3 class="center-align page-heading">
            {{username}}'s profile
        </h3>
        <div class="row add-rec">
            <div class="col s12">
                <a href="{{ url_for('add_recipe') }}" class="add-btn"><h6>Add Recipe +</h6></a>

            </div>
        </div>
        <ul class="collapsible all-accordion">
            {% for recipe in recipes %}
            <li>
                <div class="row accord-row">
                <div class="collapsible-header accordion-head rotate valign-wrapper">
                    
                    <div class="col s1 caret-icon">
                        <i class="fas fa-angle-down"></i>
                    </div>
                    <div class="col m2 hide-on-med-and-down">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="edit-btn">Edit</a>
                        <a href="#modal1" class="modal-trigger delete-btn">Delete</a>
                    </div>
                    <div class="col s7 m7 accord-title">
                        {{ recipe.recipe_title }}
                    </div>
                    <div class="col m4 l2 go-recipe">
                    <p><a class="cta-recipe" href="{{ url_for('get_recipe', recipe_id=recipe._id) }}">Go to recipe</a></p>
                    </div>
                    </div>
                </div>
                <div class="collapsible-body">
                    <h6>{{ recipe.category_name }}</h6>
                    <p class="accord-desc">{{ recipe.recipe_description }}</p>
                    {% if recipe.is_vegetarian == "on" %}
                        <i class="fab fa-vimeo-v"></i>
                    {% endif %}
                    {% if recipe.is_gluten_free == "on" %}
                        <i class="fab fa-glide-g"></i>
                    {% endif %}
                    <p>Date added: {{ recipe.date_added }}</p>
                    <div class="col s2 m2 show-on-medium-and-down hide-on-med-and-up">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="edit-btn">Edit</a>
                        <a href="#modal1" class="modal-trigger delete-btn">Delete</a>
                    </div>
                    
                </div>
            </li>
            {% endfor %}
        </ul>
    </main>


{% endblock %}