{% extends "base.html" %}

{% block content %}

    
     <main class="container">
        <!-- Page Title -->
        <h3 class="center-align page-heading">
            {{username}}'s profile
        </h3>
    
        <ul class="collapsible all-accordion">
            {% for recipe in recipes %}
            <li>
                <div class="collapsible-header accordion-head valign-wrapper">
                    <div class="col s1 caret-icon">
                        <i class="fas fa-angle-down"></i>
                    </div>
                    <div class="col s2">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="edit-btn">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="delete-btn">Delete</a>
                    </div>
                    <div class="col s9 accord-title">
                        {{ recipe.recipe_title }}
                    </div>
                </div>
                <div class="collapsible-body">
                    <p>Date added: {{ recipe.date_added }}</p>
                    {{ recipe.category_name }}
                    <p>{{ recipe.recipe_description }}</p>
                    {% if recipe.is_vegetarian == "on" %}
                        <i class="fab fa-vimeo-v"></i>
                    {% endif %}
                    {% if recipe.is_gluten_free == "on" %}
                        <i class="fab fa-glide-g"></i>
                    {% endif %}
                    
                </div>
            </li>
            {% endfor %}
        </ul>
    </main>


{% endblock %}