{% extends "base.html" %}

{% block content %}

    <section>
        <!-- flash messages-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="row flashes">
                        <h4 class="center-align custom-flash {{ category}}">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container recipe-container">
         <button onclick="backButton()" class="back-btn profile"><i class="fas fa-arrow-left"></i> Back</button>

        <div class="row page-heading center-text">
            <div class="col s12 m5 rec-img">
                <img src="{{ recipe.image_url }}" class="responsive-img recipe-img" alt="Image">
            </div>
            <div class="col s12 m5 offset-m1">
                <h3>{{ recipe.recipe_title }}</h3>
                <p>{{ recipe.recipe_description }}</p>
            </div>
        </div>
        <div class="row rec-info">
            <div class="col s6 m3 rec-info-bottom">
                Prep Time <span class="user-rec-info">{{ recipe.prep_time }}</span>
            </div>
            <div class="col s6 m3 rec-info-bottom">
                Cooking Time <span class="user-rec-info">{{ recipe.cooking_time }}</span>
            </div>
            <div class="col s6 m3">
                Serves <span class="user-rec-info">{{ recipe.serves }}</span>
            </div>
            <div class="col s6 m3">
                Difficulty <span class="user-rec-info">{{ recipe.difficulty }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3 center-text">
                <h4>Ingredients</h4>
                {% for list in recipe.recipe_ingredients.splitlines() %}
                    <p>{{ list }}</p>
                {% endfor %}
            </div>
            <div class="col s12 m8 offset-m1 center-text">
                <h4>Method</h4>
                {% for list in recipe.recipe_method.splitlines() %}
                    <p>{{ list }}</p>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}