{% extends "base.html" %}

{% block content %}

<div class="slider">
    <ul class="slides">
      <li>
        <img src="{{ url_for('static', filename='images/tom-salad.jpg') }}">
        <div class="caption center-align">
          <h2 class="slider-h2">Begin your cookbook journey</h2>
          <h4 class="slider-h4">Sign up to start adding recipes</h4>
        </div>
      </li>
            <li class="slide-opac">
                <img src="{{ url_for('static', filename='images/tiramisu.jpg') }}">
            </li>
      <li>
        <img src="{{ url_for('static', filename='images/lasagne.jpg') }}">
        <div class="caption center-align">
          <h2 class="slider-h2">Share your love of Italian cuisine</h2>
        </div>
      </li>

      <li>
        <img src="{{ url_for('static', filename='images/tomato-pasta.jpg') }}">
      </li>
      <li>
        <img src="{{ url_for('static', filename='images/meatball.jpg') }}">
        <div class="caption center-align">
          <h2 class="slider-h2">Enjoy trying new recipes</h2>
        </div>
      </li>
    </ul>
  </div>
    
    <section>
        <!-- flash messages-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="row flashes">
                        <h4 class="center-align custom-flash {{ category}}">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <main class="container">
        <h3 class="center-align page-heading">Sign Up</h3>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row form-row">
                    <div class="input-field col s12">
                        <i class="fas fa-user prefix prefix-colour"></i>
                        <input id="username" name="username" type="text" class="validate" data-length="20" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="username">Username</label>
                        <span class="helper-text" data-error="wrong" data-success="right">5-20 Characters</span>
                    </div>
                </div>
                <!-- email -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-envelope prefix prefix-colour"></i>
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right">example123@example.co.uk</span>
                    </div>
                </div>
                <!-- password -->
                <div class="row form-row">
                    <div class="input-field col s12">
                        <i class="fas fa-unlock prefix prefix-colour"></i>
                        <input id="password" name="password" type="password" class="validate" data-length="15" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="password">Password</label>
                        <span class="helper-text" data-error="wrong" data-success="right">4-15 Characters</span>
                    </div>
                </div>
                <!-- confirm password -->
                <div class="row form-row">
                    <div class="input-field col s12">
                        <i class="fas fa-lock prefix prefix-colour"></i>
                        <input id="confirm-password" name="confirm-password" type="password" class="validate"  data-length="15"
                            minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="confirm-password">Confirm Password</label>
                        <span class="helper-text" data-error="wrong" data-success="right">4-15 Characters</span>

                    </div>
                </div>
                <!-- checkbox -->
                <div class="row">
                    <div class="col s12 checkbox-margin">
                        <label>
                            <input type="checkbox" class="filled-in checkbox-green" required/>
                            <span>By registering you agree to our Terms and Conditions</span>
                        </label>
                    </div>
                </div>
                <!-- sign up button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large form-btn">
                        Create Account
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align page-link">
                Already a member?
                <a href="{{ url_for('login') }}" class="para-link">Log In</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}