{% extends "base.html" %}
{% block content %}
<div class="slider">
    <ul class="slides">
        <li>
            <img src="{{ url_for('static', filename='images/tomato-pasta.jpg') }}">
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="{{ url_for('static', filename='images/pizza-making.jpg') }}">
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="{{ url_for('static', filename='images/tiramisu.jpg') }}">
            <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="{{ url_for('static', filename='images/tom-salad1.jpg') }}">
            <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="{{ url_for('static', filename='images/meatball1.jpg') }}">
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>
<main class="container">
             <button onclick="backButton()" class="back-btn profile"><i class="fas fa-arrow-left"></i></button>
    <!-- Page Title -->
    <h3 class="center-align page-heading" id="search">Search Results</h3>
    <!-- Recipes by Category -->
    <div class="container">
        <div class="row hide-on-med-and-down">
            {% for recipe in recipes %}
            <div class="col s12">
                <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="{{ recipe.image_url }}">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content content-bac">
                                <h5>{{ recipe.recipe_title }}</h5>
                                <p class="card-descrip">{{ recipe.recipe_description }}</p>
                                <p>
                                    Difficulty: {{ recipe.difficulty }}
                                    <span class="card-serve">
                                        Serves: {{ recipe.serves }}
                                    </span>
                                </p>
                                {% if recipe.is_vegetarian == "on" %}
                                <i class="fab fa-vimeo-v"><span class="dietry">Vegetarian</span></i>
                                {% endif %}
                                {% if recipe.is_gluten_free == "on" %}
                                <i class="fab fa-glide-g"><span class="dietry">Gluten-Free</span></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row feat-cards show-on-medium-and-down hide-on-med-and-up">
        {% for recipe in recipes %}
        <div class="col s12 m6 l4">
            <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="{{ recipe.image_url }}" class="responsive-img">
                        <div class="card-overlay">
                            {{ recipe.recipe_title }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}




